*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
body{font:12px/180% Arial, Helvetica, sans-serif, "新宋体";}
/* select条件查询多选 */
.select{padding:5px 10px;border:#ddd 1px solid;border-radius:4px;width:60%;margin:5% auto;font-size:12px;margin-bottom: 0px;margin-top: 0px;}
.select li{list-style:none;padding:10px 0 5px 100px}
.select .select-list{border-bottom:#eee 1px dashed}
.select dl{zoom:1;position:relative;line-height:24px;}
.select dl:after{content:" ";display:block;clear:both;height:0;overflow:hidden}
.select dt{width:100px;margin-bottom:5px;position:absolute;top:0;left:-100px;text-align:right;color:#666;height:24px;line-height:24px}
.select dd{float:left;display:inline;margin:0 0 5px 5px;}
.select a{display:inline-block;white-space:nowrap;height:24px;padding:0 10px;text-decoration:none;color:#039;border-radius:2px;}
.select a:hover{color:#f60;background-color:#f3edc2}
.select .selected a{color:#fff;background-color:#f60}
.select-result dt{font-weight:bold}
.select-no{color:#999}
.select .select-result a{padding-right:20px;background:#f60 url("../images/close.gif") right 9px no-repeat}
.select .select-result a:hover{background-position:right -15px}
/*场馆展示样式*/
.col-sm-4
{
    padding: 10px;
    float: left;
}
.select2
{
    width: 60%;
    margin: 5% auto;
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.select3
{
    padding: 5px 10px;
    border-radius: 4px; /* width: 60%; */
    margin: 5% auto;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.select3 li
{
    float: left;
}
.ct-product
{
    border: 1px solid #E2E2E2;
}
.ct-product-titler
{
     float: right;
}  
.inner
{
    padding: 5px;
    }
/*分页样式*/
a{ text-decoration:none;}
a:hover{ text-decoration:none;}
.tcdPageCode{padding: 15px 20px;text-align: left;color: #ccc;}
.tcdPageCode a{display: inline-block;color: #428bca;display: inline-block;height: 25px;	line-height: 25px;	padding: 0 10px;border: 1px solid #ddd;	margin: 0 2px;border-radius: 4px;vertical-align: middle;}
.tcdPageCode a:hover{text-decoration: none;border: 1px solid #428bca;}
.tcdPageCode span.current{display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px;color: #fff;background-color: #428bca;	border: 1px solid #428bca;border-radius: 4px;vertical-align: middle;}
.tcdPageCode span.disabled{	display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px;	color: #bfbfbf;background: #f2f2f2;border: 1px solid #bfbfbf;border-radius: 4px;vertical-align: middle;}
/*排序*/
.sorting
{
    padding: 5px 10px;
    border-radius: 4px; /* width: 60%; */
    margin: 5% auto;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 0px;
    
}
.sorting li
{
    float: left;
}
.sorting li a
{
    float: left;
    margin-left: -1px;
    padding: 7px 18px;
    height: 24px;
    border: 1px solid #e6e6e6;
    font: 12px/2 arial;
    color: #666;
    /*background: #fafafa;*/
    text-decoration: none;
    background: url(../images/small.gif) 102% center no-repeat #fafafa;
}
.sort_asc{background:url(../images/asc.png) 102% center no-repeat #fafafa;}
.sort_desc{background:url(../images/desc.png) 102% center no-repeat #fafafa;}
